<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CargoSRV</servlet-name>
        <servlet-class>CONTROL.CargoSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CiudadSRV</servlet-name>
        <servlet-class>CONTROL.CiudadSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubcargoSRV</servlet-name>
        <servlet-class>CONTROL.SubcargoSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesSRV</servlet-name>
        <servlet-class>CONTROL.ReportesSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaisSRV</servlet-name>
        <servlet-class>CONTROL.PaisSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioSRV</servlet-name>
        <servlet-class>CONTROL.UsuarioSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscadorSRV</servlet-name>
        <servlet-class>CONTROL.buscadorSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolSRV</servlet-name>
        <servlet-class>CONTROL.RolSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SexoSRV</servlet-name>
        <servlet-class>CONTROL.SexoSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TreservaSRV</servlet-name>
        <servlet-class>CONTROL.TreservaSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TurnoSRV</servlet-name>
        <servlet-class>CONTROL.TurnoSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ECivilSRV</servlet-name>
        <servlet-class>CONTROL.ECivilSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EspecialidadSRV</servlet-name>
        <servlet-class>CONTROL.EspecialidadSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaSRV</servlet-name>
        <servlet-class>CONTROL.PersonaSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioSRV</servlet-name>
        <servlet-class>CONTROL.FuncionarioSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteSRV</servlet-name>
        <servlet-class>CONTROL.ClienteSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservaSRV</servlet-name>
        <servlet-class>CONTROL.ReservaSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoReservaSRV</servlet-name>
        <servlet-class>CONTROL.EstadoReservaSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiaSRV</servlet-name>
        <servlet-class>CONTROL.DiaSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaSRV</servlet-name>
        <servlet-class>CONTROL.ConsultaSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoSRV</servlet-name>
        <servlet-class>CONTROL.PedidoSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoraLocalSRV</servlet-name>
        <servlet-class>CONTROL.HoraLocalSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaSRV</servlet-name>
        <servlet-class>CONTROL.VentaSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logueoSRV</servlet-name>
        <servlet-class>CONTROL.logueoSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu_Salvaje</servlet-name>
        <servlet-class>CONTROL.Menu_Salvaje</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargoSRV</servlet-name>
        <url-pattern>/CargoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiudadSRV</servlet-name>
        <url-pattern>/CiudadSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubcargoSRV</servlet-name>
        <url-pattern>/SubcargoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesSRV</servlet-name>
        <url-pattern>/ReportesSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaisSRV</servlet-name>
        <url-pattern>/PaisSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioSRV</servlet-name>
        <url-pattern>/UsuarioSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscadorSRV</servlet-name>
        <url-pattern>/buscadorSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolSRV</servlet-name>
        <url-pattern>/RolSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SexoSRV</servlet-name>
        <url-pattern>/SexoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreservaSRV</servlet-name>
        <url-pattern>/TreservaSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TurnoSRV</servlet-name>
        <url-pattern>/TurnoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ECivilSRV</servlet-name>
        <url-pattern>/ECivilSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EspecialidadSRV</servlet-name>
        <url-pattern>/EspecialidadSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaSRV</servlet-name>
        <url-pattern>/PersonaSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioSRV</servlet-name>
        <url-pattern>/FuncionarioSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteSRV</servlet-name>
        <url-pattern>/ClienteSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaSRV</servlet-name>
        <url-pattern>/ReservaSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoReservaSRV</servlet-name>
        <url-pattern>/EstadoReservaSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiaSRV</servlet-name>
        <url-pattern>/DiaSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaSRV</servlet-name>
        <url-pattern>/ConsultaSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoSRV</servlet-name>
        <url-pattern>/PedidoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoraLocalSRV</servlet-name>
        <url-pattern>/HoraLocalSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaSRV</servlet-name>
        <url-pattern>/VentaSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logueoSRV</servlet-name>
        <url-pattern>/logueoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu_Salvaje</servlet-name>
        <url-pattern>/Menu_Salvaje</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
